.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

#property-map-iframe {
  width: 100%;
  height: 900px;
}
